.container {
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}

.codeContainer {
  font-size: 1.15em;
}