.listContainer {
  
}

.optionsContainer {
  margin-bottom: 20px;
}

.searchContainer {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.buttonsContainer {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.listItem {
  min-height: 60px;
  border-bottom: 1px dashed #e5e5e5;
  padding-top: 10px;
  padding: 5px;
}

.repoInfo {
  float: left;
  display: inline-block;  
}

.repoName {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

.repoName:hover {
  text-decoration: underline;
}

.repoStats {
  float: right;
  color: #999;
  font-size: .85em;
}